<table class="table table-bordered">
  <thead>
    <tr>
			<td class="text-right">{{ column_queue_id }}</td>
      <td class="text-left">{{ column_queue_url }}</td>
      <td class="text-right">{{ column_queue_date_added }}</td>
      <td class="text-right">{{ column_queue_action }}</td>
    </tr>
  </thead>
  <tbody>
    {% if indexnow_queues %}
    {% for indexnow_queue in indexnow_queues %}
    <tr>
      <td class="text-right">{{ indexnow_queue.queue_id }}</td>
      <td class="text-left">{{ indexnow_queue.url|escape }}</td>
      <td class="text-right">{{ indexnow_queue.date_added }}</td>
      <td class="text-right">
				<button type="button" value="{{ indexnow_queue.queue_id }}" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_submit_url }}" class="btn btn-primary btn-submit-item"><i class="fa fa-send"></i></button>
				<button type="button" value="{{ indexnow_queue.queue_id }}" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-remove-item"><i class="fa fa-minus-circle"></i></button>
			</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td class="text-center" colspan="4">{{ text_queue_no_results }}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>
