{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<div class="input-group">
					<div class="input-group-addon">
						{{ entry_active_store }}
						<select name="store" id="input-store" class="form-select">
							{% for store in stores %}&nbsp;&nbsp;
							<option value="{{ store.href }}" {% if store.store_id==store_id %} selected{% endif %}>{{ store.name }}</option>
							{% endfor %}
						</select>
					</div>
					<button type="submit" form="form-feed" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
					<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
				</div>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-feed" class="form-horizontal">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
						<li><a href="#tab-manual-submit" data-toggle="tab">{{ tab_manual_submit }}</a></li>
						<li><a href="#tab-queue" data-toggle="tab">{{ tab_queue }}</a></li>
						<li><a href="#tab-log" data-toggle="tab">{{ tab_log }}</a></li>
						<li><a href="#tab-support" data-toggle="tab">{{ tab_help_and_support }}</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="tab-general">

							<div class="form-group">
								<label for="input-status" class="col-sm-2 control-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="feed_ps_indexnow_status" id="input-status" class="form-control">
										{% if feed_ps_indexnow_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_indexnow_services }}</label>
								<div class="col-sm-10">
									<div class="well well-sm" style="height: 150px; overflow: auto;">
										{% for indexnow_service in indexnow_services %}
										<div class="radio">
											<label>
												{% if indexnow_service.service_id == feed_ps_indexnow_service_status %}
												<input type="radio" name="feed_ps_indexnow_service_status" value="{{ indexnow_service.service_id }}" checked="checked" />
												{{ indexnow_service.service_name }}
												{% else %}
												<input type="radio" name="feed_ps_indexnow_service_status" value="{{ indexnow_service.service_id }}" />
												{{ indexnow_service.service_name }}
												{% endif %}
											</label>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_notify_search_engines }}</label>
								<div class="col-sm-10">
									<div class="well well-sm" style="height: 150px; overflow: auto;">
										{% for key, value in content_categories %}
										<div class="checkbox">
											<label>
												{% if key in feed_ps_indexnow_content_category %}
												<input type="checkbox" name="feed_ps_indexnow_content_category[]" value="{{ key }}" checked="checked" />
												{{ value }}
												{% else %}
												<input type="checkbox" name="feed_ps_indexnow_content_category[]" value="{{ key }}" />
												{{ value }}
												{% endif %}
											</label>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="input-service-key" class="col-sm-2 control-label">{{ entry_service_key }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" name="feed_ps_indexnow_service_key" value="{{ feed_ps_indexnow_service_key }}" placeholder="{{ entry_service_key }}" id="input-service-key" class="form-control">
										<span class="input-group-btn">
											<button type="button" class="btn btn-success btn-generate-service-key" data-toggle="tooltip" title="{{ button_change_key }}"><i class="fa fa-refresh"></i> {{ button_change_key }}</button>
										</span>
									</div>
									{% if error_service_key %}<div class="text-danger">{{ error_service_key }}</div>{% endif %}
									<div class="help-block text-muted">{{ help_service_key }}</div>
								</div>
							</div>

							<div class="form-group">
								<label for="input-service-key-location" class="col-sm-2 control-label">{{ entry_service_key_location }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon">{{ server }}</span>
										<input type="text" name="feed_ps_indexnow_service_key_location" value="{{ feed_ps_indexnow_service_key_location }}" data-server="{{ server }}" data-service-key-url="{{ feed_ps_indexnow_service_key_url }}" placeholder="{{ entry_service_key_location }}" id="input-service-key-location" class="form-control">
										<span class="input-group-btn">
											<button type="button" class="btn btn-warning btn-open-service-key" data-toggle="tooltip" title="{{ button_check_key }}"><i class="fa fa-key"></i> {{ button_check_key }}</button>
										</span>
									</div>
									{% if error_service_key_location %}<div class="text-danger">{{ error_service_key_location }}</div>{% endif %}
									<div class="help-block text-muted">{{ help_service_key_location }}</div>
								</div>
							</div>

							<div class="form-group">
								<label for="input-cron-url" class="col-sm-2 control-label">{{ entry_cron_url }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" value="{{ cron_url }}" placeholder="{{ entry_cron_url }}" id="input-cron-url" class="form-control" readonly>
										<span class="input-group-btn">
											<button type="button" class="btn btn-info btn-copy" data-toggle="tooltip" data-input-id="input-cron-url" title="{{ button_copy }}"><i class="fa fa-copy"></i></button>
										</span>
									</div>
									<div class="help-block text-muted">{{ help_cron_url }}</div>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-manual-submit">

							<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_url_list_warning }}</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-url-list">{{ entry_url_list }}</label>
								<div class="col-sm-10">
									<textarea wrap="off" rows="15" id="input-url-list" class="form-control"></textarea>
									<div class="help-block text-muted">{{ help_url_list }}</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-load-sitemap">{{ entry_load_sitemap }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon">{{ server }}</span>
										<input type="text" value="" placeholder="{{ entry_load_sitemap }}" id="input-load-sitemap" class="form-control" autocomplete="off">
										<span class="input-group-btn">
											<button type="button" class="btn btn-success" id="button-import-sitemap" data-toggle="tooltip" title="{{ button_import_sitemap }}"><i class="fa fa-send"></i> {{ button_import_sitemap }}</button>
											<button type="button" class="btn btn-primary" id="button-upload-sitemap" data-toggle="tooltip" title="{{ button_upload_sitemap }}"><i class="fa fa-upload"></i> {{ button_upload_sitemap }}</button>
										</span>
									</div>
									<div class="help-block text-muted">{{ help_load_sitemap }}</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-5 col-sm-offset-2">
									<button type="button" style="width: 100%;" id="button-submit-url-list" data-toggle="tooltip" title="{{ button_submit_url_list }}" class="btn btn-primary"><i class="fa fa-send"></i> {{ button_submit_url_list }}</button>
								</div>
								<div class="col-sm-5">
									<button type="button" style="width: 100%;" id="button-clear-url-list" data-toggle="tooltip" title="{{ button_clear_url_list }}" class="btn btn-danger"><i class="fa fa-trash"></i> {{ button_clear_url_list }}</button>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-queue">

							<div id="queue-content"></div>

							<div class="form-group">
								<div class="col-sm-6">
									<button type="button" style="width: 100%;" id="button-submit-queue" data-toggle="tooltip" title="{{ button_submit_queue }}" class="btn btn-primary"><i class="fa fa-send"></i> {{ button_submit_queue }}</button>
								</div>
								<div class="col-sm-6">
									<button type="button" style="width: 100%;" id="button-clear-queue" data-toggle="tooltip" title="{{ button_clear_queue }}" class="btn btn-danger"><i class="fa fa-trash"></i> {{ button_clear_queue }}</button>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-log">

							<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_http_status_code }}</div>

							<div id="log-content"></div>

							<div class="form-group">
								<div class="col-sm-6 col-sm-offset-6">
									<button type="button" style="width: 100%;" id="button-clear-log" data-toggle="tooltip" title="{{ button_clear_log }}" class="btn btn-danger">
										<i class="fa fa-trash"></i> {{ button_clear_log }}
									</button>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-support">

							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}

						</div>
					</div>

					<input type="hidden" name="store_id" value="{{ store_id }}">
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$('#input-service-key').on('input', function () {
		var serviceKey = $(this).val();
		var serviceKeyInput = $('#input-service-key-location');
		var server = serviceKeyInput.data('server');
		var keyLocationValue = '', keyLocationUrl = '';

		if (serviceKey.length > 0) {
			keyLocationValue = serviceKey + '.txt';
			keyLocationUrl = server + serviceKey + '.txt';
		}

		serviceKeyInput.val(keyLocationValue).data('service-key-url', keyLocationUrl);
	});

	$('.btn-copy').on('click', function () {
		var copyText = $("#" + $(this).data('inputId'));

		if (copyText.length) {
			copyText.select();
			copyText[0].setSelectionRange(0, 99999);
			document.execCommand("copy");
		}
	});

	$('#input-load-sitemap').on('keydown', function (event) {
		if (event.key === 'Enter') {
			event.preventDefault();

			$('#button-import-sitemap').click();
		}
	});

	$('#button-import-sitemap').on('click', function () {
		var node = this;
		var sitemapInput = $('#input-load-sitemap');
		var urlListTextarea = $('#input-url-list');

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/load_sitemap&store_id={{ store_id }}&user_token={{ user_token }}',
			type: 'post',
			data: 'file=' + encodeURIComponent(sitemapInput.val()),
			dataType: 'json',
			crossDomain: true,
			beforeSend: function () {
				$(node).button('loading');
				sitemapInput.prop('disabled', true);
				urlListTextarea.prop('disabled', true);
			},
			complete: function () {
				$(node).button('reset');
				sitemapInput.prop('disabled', false);
				urlListTextarea.prop('disabled', false);
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				sitemapInput.val('');

				if (json['url_list']) {
					urlListTextarea.val(json['url_list']);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-upload-sitemap').on('click', function () {
		var node = $(this);
		var urlListTextarea = $('#input-url-list');

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file"></form>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function () {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				var file = $('#form-upload input[name=\'file\']')[0].files[0];

				if (file.size > 52428800) {
					$('.alert-dismissible').remove();

					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_file_upload_limit }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					return;
				}

				$.ajax({
					url: 'index.php?route=extension/feed/ps_indexnow/load_sitemap&store_id={{ store_id }}&user_token={{ user_token }}',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					beforeSend: function () {
						$(node).button('loading');
						urlListTextarea.prop('disabled', true);
					},
					complete: function () {
						$(node).button('reset');
						urlListTextarea.prop('disabled', false);
					},
					success: function (json) {
						$('.alert-dismissible').remove();

						if (json['error']) {
							$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						}

						if (json['success']) {
							$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						}

						if (json['url_list']) {
							urlListTextarea.val(json['url_list']);
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});

	$('.btn-generate-service-key').on('click', function () {
		var node = this;

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/generate_service_key&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#input-service-key').val(json['service_key']);
					$('#input-service-key-location').val(json['service_key_location']).attr('data-service-key-url', json['service_key_url']);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('.btn-open-service-key').on('click', function () {
		var serviceKeyUrl = $('#input-service-key-location').data('service-key-url');

		if (serviceKeyUrl.length) {
			window.open(serviceKeyUrl, '_blank');
		}
	});

	$('#input-store').on('change', function () {
		window.location = $(this).val();
	});

	$('#queue-content').load('index.php?route=extension/feed/ps_indexnow/queue&store_id={{ store_id }}&user_token={{ user_token }}');

	$('#queue-content').delegate('.pagination a', 'click', function (e) {
		e.preventDefault();

		$('#queue-content').load(this.href);
	});

	$('#queue-content').delegate('.btn-remove-item', 'click', function () {
		var node = this;

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/remove_queue&user_token={{ user_token }}',
			type: 'post',
			data: 'queue_id=' + encodeURIComponent(this.value),
			dataType: 'json',
			crossDomain: true,
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#queue-content').load('index.php?route=extension/feed/ps_indexnow/queue&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#queue-content').delegate('.btn-submit-item', 'click', function () {
		var node = this;

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/submit_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			type: 'post',
			data: 'queue_id=' + encodeURIComponent(this.value),
			dataType: 'json',
			crossDomain: true,
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#queue-content').load('index.php?route=extension/feed/ps_indexnow/queue&store_id={{ store_id }}&user_token={{ user_token }}');
					$('#log-content').load('index.php?route=extension/feed/ps_indexnow/log&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-submit-url-list').on('click', function () {
		var node = this;
		var urlListTextarea = $('#input-url-list');

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/submit_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			type: 'post',
			data: 'url_list=' + encodeURIComponent(urlListTextarea.val()),
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#queue-content').load('index.php?route=extension/feed/ps_indexnow/queue&store_id={{ store_id }}&user_token={{ user_token }}');
					$('#log-content').load('index.php?route=extension/feed/ps_indexnow/log&store_id={{ store_id }}&user_token={{ user_token }}');

					urlListTextarea.val('');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-clear-url-list').on('click', function () {
		$('#input-url-list').val('');
	});

	$('#button-submit-queue').on('click', function () {
		var node = this;

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/submit_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#queue-content').load('index.php?route=extension/feed/ps_indexnow/queue&store_id={{ store_id }}&user_token={{ user_token }}');
					$('#log-content').load('index.php?route=extension/feed/ps_indexnow/log&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-clear-queue').on('click', function () {
		var node = this;

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/clear_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#queue-content').load('index.php?route=extension/feed/ps_indexnow/queue&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#log-content').load('index.php?route=extension/feed/ps_indexnow/log&store_id={{ store_id }}&user_token={{ user_token }}');

	$('#log-content').delegate('.pagination a', 'click', function (e) {
		e.preventDefault();

		$('#log-content').load(this.href);
	});

	$('#button-clear-log').on('click', function () {
		var node = this;

		$.ajax({
			url: 'index.php?route=extension/feed/ps_indexnow/clear_log&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#log-content').load('index.php?route=extension/feed/ps_indexnow/log&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
{{ footer }}
